<div class="container">
  <div class="container-photo-info">
    <div class="container-photo">
      <%= cl_image_tag @artpiece.photos.first.key, class: "gallery-main" %>
        <div class="gallery">
          <i class="fa-solid fa-chevron-left"></i>
          <% @artpiece.photos[1..].each do |photo| %>
              <%= cl_image_tag photo.key, crop: :fill, class: "gallery-item" %>
          <% end %>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>

    <div>
      <div class="container-details">
        <h1><strong><%= @artpiece.title %></strong></h1>

        <% if @artpiece.artist.present? %>
          <p><strong><%= @artpiece.artist %></strong>
        <% else %>
          Unknown
        <% end %>
          · €<%= @artpiece.day_price %>/day</p>
        <p><%= @artpiece.description %></p>
      </div>

      <div class="container-booking">
        <h4><strong><%= @artpiece.day_price %> € per day</strong></h4>
            <% booking = @artpiece.bookings.find_by(user: current_user) || @artpiece.bookings.new %>
            <%= simple_form_for([@artpiece, booking]) do |f| %>
              <%= f.input :start_date, as: :date, label: 'Start Date' %>
              <%= f.input :end_date, as: :date, label: 'End Date' %>
              <%= f.button :submit, booking.new_record? ? "Book" : "Update Booking" %>
            <% end %>

            <% if booking.persisted? %>
              Booking dates:
              <% @artpiece.bookings.each do |booking| %>
                <%= booking.start_date %> - <%= booking.end_date %>
                <br>
                Total price: <%= booking.total_price %>
              <% end %>
              <%= button_to 'Cancel Booking', [@artpiece, booking], method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
      </div>

    </div>
  </div>
  <%= link_to 'Back', artpieces_path %>
  <a href="/artpices">Back</a>
</div>
