<div class="container">
  <div class="link-bar"> <%= link_to 'Back', artpieces_path %></div>
  <div class="container-photo-info">
    <div class="container-photo" data-controller="gallery">
      <%= cl_image_tag @artpiece.photos.first.key, class: "gallery-main", data: {gallery_target: "photo"} %>
        <div class="gallery">
          <i class="fa-solid fa-chevron-left"></i>
          <% @artpiece.photos[1..].each do |photo| %>
              <%= cl_image_tag photo.key, crop: :fill, class: "gallery-item", data: {action: "click->gallery#change"} %>
          <% end %>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>

    <div>
      <div class="container-details">
        <h1><strong><%= @artpiece.title %></strong></h1>

        <% if @artpiece.artist.present? %>
          <p><strong><%= @artpiece.artist %></strong>
        <% else %>
          Unknown
        <% end %>
          · €<%= @artpiece.day_price %>/day</p>
        <p><%= @artpiece.description %></p>
      </div>

      <div class="container-booking">
        <h4><strong><%= @artpiece.day_price %> € per day</strong></h4>
            <% booking = @artpiece.bookings.find_by(user: current_user) || @artpiece.bookings.new %>
            <%= form_for([@artpiece, booking]) do |f| %>
              <%= f.label :start_date %>
              <%= f.date_field :start_date %>
              <%= f.label :end_date %>
              <%= f.date_field :end_date %>
              <%= f.submit booking.new_record? ? "Book" : "Update Booking" %>
            <% end %>
            <% if booking.persisted? %>
              <%= button_to 'Cancel Booking', [@artpiece, booking], method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
      </div>

      <div class="container-edit-delete">
        <%= link_to 'Edit artpiece', edit_artpiece_path(@artpiece), class: "btn btn-primary" %>
        <%= link_to 'Remove artpiece', artpieces_path,
                    data: {turbo_method: :delete, turbo_confirm: "Do you really want to remove this artpiece?"}, class: "delete-none btn btn-primary" %>
      </div>
    </div>
  </div>


  <div class="container-review">
        <div class="container-all-reviews">
          <h3>Ratings</h3>
            <% @artpiece.ratings.each do |rating| %>
              <div class='review'>
                <% rating.rating.times do |star| %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
                <p><%= rating.content %></p>
              </div>
            <% end %>
        </div>

        <div class="container-add-review">
          <h3>Add Your Rating</h3>
          <%= simple_form_for([@artpiece, @rating]) do |f| %>
              <%= f.input :content %>
              <%= f.input :rating, collection: (1..5).to_a, input_html: {data: {controller: "star-rating"}} %>
              <%= f.submit class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
</div>
