<div class="container">
  <div class="container-photo-info">
    <div class="container-photo">
      <%= cl_image_tag @artpiece.photos.first.key, class: "gallery-main" %>
        <div class="gallery">
          <i class="fa-solid fa-chevron-left"></i>
          <% @artpiece.photos[1..].each do |photo| %>
              <%= cl_image_tag photo.key, crop: :fill, class: "gallery-item" %>
          <% end %>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>

    <div>
      <div class="container-details">
        <h1><strong><%= @artpiece.title %></strong></h1>

        <% if @artpiece.artist.present? %>
          <p><strong><%= @artpiece.artist %></strong>
        <% else %>
          Unknown
        <% end %>
          · €<%= @artpiece.day_price %>/day</p>
        <p><%= @artpiece.description %></p>
      </div>

      <div class="container-booking">
        <h4><strong><%= @artpiece.day_price %> € per day</strong></h4>
            <% booking = @artpiece.bookings.find_by(user: current_user) || @artpiece.bookings.new %>
            <%= form_for([@artpiece, booking]) do |f| %>
              <%= f.label :start_date %>
              <%= f.date_field :start_date %>
              <%= f.label :end_date %>
         1     <%= f.date_field :end_date %>
              <%= f.submit booking.new_record? ? "Book" : "Update Booking" %>
            <% end %>
            <% if booking.persisted? %>
              <%= button_to 'Cancel Booking', [@artpiece, booking], method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
      </div>
    </div>
  </div>

  <%= link_to 'Back', artpieces_path %>
</div>
