<div class="container">
  <div class="container-photo-info">
    <div class="container-photo">
      <% @artpiece.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fit %>
      <% end %>
    </div>

    <div>
      <div class="container-details">
        <h1><strong><%= @artpiece.title %></strong></h1>

        <% if @artpiece.artist.present? %>
          <p><strong><%= @artpiece.artist %></strong>
        <% else %>
          Unknown
        <% end %>
          · €<%= @artpiece.day_price %>/day</p>
        <p><%= @artpiece.description %></p>
      </div>

      <div class="container-booking">
        <h4><strong><%= @artpiece.day_price %> € per day</strong></h4>
        <%= simple_form_for([@artpiece, @booking]) do |f| %>
          <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
          <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
      </div>

    </div>
  </div>



  <%= link_to 'Back', artpieces_path %>
</div>
