<div class="dashboard-banner" style="background-image: linear-gradient(rgba(162, 121, 6, 0.2),rgba(162, 121, 6, 0.2)), url(https://unsplash.com/photos/wrQlWik8tTw/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MzA2fHxiZWlnZSUyMGFydHxlbnwwfHx8fDE2ODYzMDUwMzR8MA&force=true);">
  <div class="container">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="pb-3 mb-3">
      <div class="dashboard-sections-title-containers mb-2">Your Upcoming Bookings</div>
      <%# Bookings Cards %>
      <% @bookings.each do |booking| %>
        <% booked_artpiece = @all_artpieces.find_by(id: booking.artpiece_id) %>
        <div class="upcoming-bookings-card mb-2">
          <div class="row g-0">
            <div class="col-sm-3 col-md-3">
            <%# IMAGE DIV %>
              <div class=""><%= cl_image_tag booked_artpiece.photos.first.key, :gravity=>"auto", :height=>150, :width=>300, :crop=>"thumb", class: "object-fit-cover rounded-1" %></div>
            </div>
            <div class="col-sm-9 col-md-9">
            <%# INTERIOR DESCRIPTION AND BUTTONS DIV %>
              <div class="row">
                <div class="col-sm-8 col-md-9">
                  <div class="card-body pb-0 pt-0">
                    <div>
                      <p class="card-title mb-0 lh-sm"><%= link_to booked_artpiece.title, artpiece_path(booked_artpiece), class:"text-decoration-none text-dark fs-4 fw-normal" %></p></h5>
                    </div>

                    <ul class="list-unstyled lh-sm">
                      <div>
                        <li class="text-secondary opacity-75 d-inline-block text-truncate m-0 lh-0" style="max-width: 100%"><%= booked_artpiece.description %></li>
                      </div>
                      <div>
                        <li class="text-secondary opacity-75 d-inline-block text-truncate lh-0" style="max-width: 75%"><%= booked_artpiece.artist %></li>
                      </div>
                    </ul>
                    <div class="row g-0">
                    <%# Booking status container %>
                      <div class=col-6>
                        <ul class="list-unstyled lh-sm">
                          <div class="align-baseline">
                            <div class=>
                              <li><% if booking.booking_status == nil %>
                                Pending..
                                <% elsif booking.booking_status == true %>
                                Booking accepted.
                                <% else %>
                                Booking declined.
                                <% end %></li>
                            </div>
                          </div>
                        </ul>
                      </div>
                    <%# Booking dates container %>
                      <div class=col-6>
                        <div class="dashboard-booking-dates-container">
                          <div>
                            <p class="m-0">From <%= booking.start_date.strftime("%B %d") %></p>
                          </div>
                          <div>
                            <p class="m-0">To <%= booking.end_date.strftime("%B %d") %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <%# BUTTONS %>
                <div class="col-sm-4 col-md-3">
                  <div class="d-inline align-bottom">
                    <div class="mt-2 mb-2">
                      <%= link_to 'Edit Booking', artpiece_path(booked_artpiece), class: "btn btn-secondary-sm-dashboard" %>
                    </div>
                    <div class="mb-2">
                     <%= button_to 'Cancel Booking', [booked_artpiece, booking], method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "btn btn-danger-sm" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>


    <div class="row">
    <div class="pb-3 mb-3">
      <div class="dashboard-sections-title-containers mb-2">Your Received Bookings</div>
      <%# Bookings Cards %>
      <% @received_bookings.each do |booking| %>
        <% booked_artpiece = @all_artpieces.find_by(id: booking.artpiece_id) %>
        <div class="card">
          <div class="row g-0">
            <div class="col-sm-3 col-md-3">
            <%# IMAGE DIV %>
              <div class=""><%= cl_image_tag booked_artpiece.photos.first.key, :gravity=>"auto", :height=>150, :width=>300, :crop=>"thumb", class: "object-fit-cover rounded-1" %></div>
            </div>
            <div class="col-sm-9 col-md-9">
            <%# INTERIOR DESCRIPTION AND BUTTONS DIV %>
              <div class="row g-0">
                <div class="col-sm-8 col-md-9">
                  <div class="card-body pb-0 pt-0">
                    <div>
                      <p class="card-title m-0 lh-sm"><%= link_to booked_artpiece.title, artpiece_path(booked_artpiece), class:"text-decoration-none text-dark fs-4 fw-normal" %></p></h5>
                    </div>
                    <ul class="list-unstyled lh-sm">
                      <div>
                        <li class="text-secondary opacity-75 d-inline-block text-truncate m-0 lh-0" style="max-width: 100%"><%= booked_artpiece.description %></li>
                      </div>
                      <div>
                        <li class="text-secondary opacity-75 d-inline-block text-truncate lh-0" style="max-width: 75%"><%= booked_artpiece.artist %></li>
                      </div>
                    </ul>
                    <div class="row g-0">
                    <%# Booking status container %>
                      <div class=col-6>
                        <ul class="list-unstyled lh-sm">
                          <div class="align-baseline">
                            <div class=>
                              <li><% if booking.booking_status = false %>
                                Pending..
                                <% else %>
                                Booking accepted.
                                <% end %></li>
                            </div>
                          </div>
                        </ul>
                      </div>
                    <%# Booking dates container %>
                      <div class=col-6>
                        <div class="dashboard-booking-dates-container">
                          <div>
                            <p class="m-0">From <%= booking.start_date.strftime("%B %d") %></p>
                          </div>
                          <div>
                            <p class="m-0">To <%= booking.end_date.strftime("%B %d") %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <%# BUTTONS %>
                <div class="col-sm-4 col-md-3">
                  <div class="d-inline-block align-bottom">
                    <div class="mt-2 mb-2">
                      <%= link_to 'Accept', accept_booking_path(booking), class: "btn btn-secondary-sm-dashboard" %>
                    </div>
                    <div class="mt-2 mb-2">
                      <%= link_to 'Decline', decline_booking_path(booking), class: "btn btn-secondary-sm-dashboard" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

    <div class="pb-3 mb-3">
      <div class="dashboard-sections-title-containers mb-2">Your Uploaded Art</div>
      <div class="row">
        <% @artpieces.each do |artpiece| %>
          <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch">
            <div class="card mb-2 border-0">
              <div class=""><%= cl_image_tag artpiece.photos.first.key, :height=>200, :width=>200, crop: :thumb, class: "object-fit-cover rounded-3" %></div>
              <div class="card-body p-0 h-25">
                  <p class="card-title m-0 lh-sm"><%= link_to artpiece.title, artpiece_path(artpiece), class:"text-decoration-none stretched-link text-dark fs-4 fw-normal" %></p>
                  <div class="card-text">
                    <ul class="list-unstyled lh-sm">
                      <li class="text-secondary opacity-75 d-inline-block text-truncate" style="max-width: 100%"><%= artpiece.description %></li>
                      <li class="text-secondary opacity-75 d-inline-block text-truncate" style="max-width: 100%"><%= artpiece.artist %></li>
                      <div class="container-price-av">
                        <li class="mt-2 fw-medium fs-6 text-decoration-underline">€<%= artpiece.day_price %>/day </li>
                      </div>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# => #<ActiveRecord::Associations::CollectionProxy
[#<Booking id: 2, user_id: 1, artpiece_id: 56, start_date: "2023-06-08",
end_date: "2023-06-09", booking_status: nil,
created_at: "2023-06-08 09:23:02.494829000 +0000", updated_at: "2023-06-08 09:23:02.494829000 +0000">]> %>


<%# #<ActiveRecord::Relation
[#<Artpiece id: 55, title: "Water Lillies", artist: "Claude Monet",
description: "Water Lilies is a series of approximately 250 oil ...",
day_price: 545, user_id: 2, created_at: "2023-06-07 14:11:01.114631000 +0000",
updated_at: "2023-06-07 14:11:01.152635000 +0000">,

#<Artpiece id: 56,
title: "Starry Night", artist: "Vincent van Gogh",
description: "Post impressionism/early expressionism with oil pa...",
day_price: 620, user_id: 1, created_at: "2023-06-07 14:11:09.208871000 +0000",
updated_at: "2023-06-07 14:11:09.229617000 +0000">, %>
